<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load static %}
<head>
    <title>{% block title %}McGill Code Jam SMS{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="{% get_static_prefix %}css/style.css" />
</head>
<body>
    <div class="banner">
        <a href="/"><img src="{% get_static_prefix %}images/logo.png" alt="McGill Code Jam Logo" /></a>
    </div>
    <div class="container">
        <div id="header">
            {% block header %}{% endblock %}
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}{% endblock %}
        </div>
    </div>
    {% if debug %}
        <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.6.4.js"></script>
    {% else %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    {% endif %}
    {% block js_includes %}{% endblock %}
</body>
</html>